.nav-link {
    color: var(--bs-gray-dark);
}

.nav-link:hover, .nav-link:focus {
    color: var(--bs-dark);
}

.nav-pills .nav-link.active {
    background-color: var(--bs-gray);
}

a {
    color: var(--bs-dark);
}


a:hover {
    color: var(--bs-gray-dark);
}

.no-underline {
    text-decoration: none;
}